@page "/produtos"
@inject IProdutoApplicationService ProdutoService

<h3>Produtos</h3>

<NavLink class="btn btn-primary" href="produtos/cadastro">
        Cadastrar novo produto
    </NavLink>

@if (produtos == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="row">
        @foreach (var produto in produtos)
        {
            <div class="col-md-3 mb-4 divCard">
                <div class="card h-100 mt-4">
                    <img src="@($"data:image/jpeg;base64,{produto.Foto}")" class="card-img-top" alt="@produto.Nome">
                    <div class="card-body">
                        <h5 class="card-title">@produto.Nome</h5>
                        <p class="card-text">@produto.Descricao</p>
                        <p class="card-text"><small class="text-muted">Garantia: @produto.Garantia meses</small></p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Detalhes</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Produto>? produtos;

    protected override async Task OnInitializedAsync()
    {
        produtos = await ProdutoService.GetAllProdutos();
    }
}


